{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <h1 class="mx-4">Following</h1>
    <div class="d-flex flex-column align-items-center">  
        <section class="all-posts" style="width: 1200px;">
            {% for post in posts %}
            <div class="border mx-3 px-3 mt-3">
                <h4 class="my-3"><a style="text-decoration: none;" href="{% url 'profile' user_id=post.user.id %}">{{ post.user }}</a></h4>                <p>{{ post.content }}</p>
                <p class="text-muted" style="font-size: 14px;"> {{ post.created_at }} </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg> 0
                <hr>
                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                Like
                </button>
                <button type="button" class="btn btn-outline-primary" style="margin-bottom: 10px;">Comment</button>
            </div>
            {% endfor %}
        </section>


        <div class="mt-5">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% for page in number_of_pages %}

                    <li class="page-item" ><a class="page-link" id="page-number" href="?page={{ page }}">{{ page }}</a></li>

                    {% endfor %}

                    {% if posts.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
                </nav>
        </div>
    </div>
    {% endif %}

    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}